{% load i18n %}
   
 <script>

function hide(){
    document.getElementById("searchmodal").classList.add('hidden')   
    document.getElementById("searchmodal").classList.remove('flex')     
    document.getElementById("searchmodal").setAttribute('aria-hidden', 'true')
    document.getElementById("searchmodal").removeAttribute('aria-modal')     
    document.getElementById("searchmodal").removeAttribute('role')
    document.querySelector('[modal-backdrop]').remove();
      
    }
    var form = document.getElementById('form');

// Adds a listener for the "submit" event.
form.addEventListener('submit', function(e) {

  e.preventDefault();

});

    document.getElementById("search").focus();

 </script>
    <div id="searchmodal" tabindex="-1" class="   fixed top-0 right-0 left-0 z-50 w-full  h-modal  justify-center  flex" aria-modal="true" role="dialog">
        
        <div class="p-4">
            <label for="table-search" class="sr-only">{% trans "Search"%}</label>
            <div class="relative mt-5 w-full">
                
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"></path></svg>
                </div>
                <button onclick='hide()' class="absolute inset-y-0 right-0 flex items-center pl-3 ">
                    <svg class="w-6 h-6" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12"></path></svg> 
                </button>
                <form id='form' >
                    {%csrf_token%}
                <input 
                type="text"
                    hx-post="{% url 'core:search' %}" 
                    class=" bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-700 pl-10 p-2.5  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" 
                    placeholder="{% trans "Search for restaurants"%}"
                    hx-target='#results'
                    hx-trigger="keyup changed delay:50ms"
                    name="search"  
                    id="search"/>
               
                </form>

            
               <div id="results" ></div>

     </div>                

    </div>
  
</div>
    <div modal-backdrop="" class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40"></div>
    



