
 {%extends "restaurent/sidebar.html"%}
 {% load i18n %}
 {%block page_name%}
  {% trans "Restaurent App" %}
 {%endblock page_name%}
 
 {%block content%}
 <div  class=" mt-16 flex flex-col">
         <div class="flex justify-start flex-wrap  mt-16 ">
             {%for food in foods%}
                 <div hx-target="this" hx-swap="outerHTML" class=" shadow-dishw w-81  h-56 break-words p-2 bg-mygray  mx-3 my-3 border-2 border-gray-300 rounded-md ">
                     <div class="w-full flex ">
                         <div> 
                             <img src="{{food.photo.url}}" class="w-24 h-24  mr-2 mb-2 object-cover rounded-2xl ">
                         </div> 
                         <div class="relative  grow flex flex-col justify-center">
                              <ul class="absolute  right-2 top-0 border-1 border-gray-200 px-2 py-1  flex rounded-full text-sky-500">
                                 <li class="  ">
                                     <button 
                                     hx-post="{%url 'restaurent:update' food.id%}" 
                                     id="buttonupdate"
                                     hx-target="#dish"
                                     class="flex flex-row items-center"
                                     hx-swap="innerHTML"
                                     ><svg class="w-4 h-4 mx-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path d="M17.414 2.586a2 2 0 00-2.828 0L7 10.172V13h2.828l7.586-7.586a2 2 0 000-2.828z"></path><path fill-rule="evenodd" d="M2 6a2 2 0 012-2h4a1 1 0 010 2H4v10h10v-4a1 1 0 112 0v4a2 2 0 01-2 2H4a2 2 0 01-2-2V6z" clip-rule="evenodd"></path></svg></button>
                                    
                                     <div id="dish"></div>
                                 </li>
 
                                 <li class=" ">
                                     <form method="post" action="{% url 'restaurent:delete' food.id %}">
                                         {%csrf_token%}
                                     <button class="flex flex-row items-center" ><svg class="w-4 h-4 mx-1" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"></path></svg>
                                     </button>
                                     </form>
                                 </li>
                             </ul>
                             
                                 <span class="m-0 font-medium capitalize flex-wrap"> {{food}}</span>
                                 <span class="text-gray-400 font-medium  text-xl m-0">$ : {{food.price}}</span>
                             
                         </div>
                     </div>    
                     <div class="">
                         <span>{{food.description | truncatechars:136}}</span>
                     </div>
                     
                 </div>
             {%endfor%}
         </div>
         {% include 'restaurent/dish_create.html' %}
 
 
 </div>
  {%endblock content%}
 