{%load widget_tweaks%}
{% load i18n %}
<script>

function hide(){
document.getElementById("update").classList.add('hidden')   
document.getElementById("update").classList.remove('flex')     
document.getElementById("update").setAttribute('aria-hidden', 'true')
document.getElementById("update").removeAttribute('aria-modal')     
document.getElementById("update").removeAttribute('role')
document.querySelector('[modal-backdrop]').remove();
  
}

</script>
    
        <div id="update" tabindex="-1" class="overflow-y-scroll overflow-x-hidden fixed top-0 right-0 left-0 z-50 w-full h-full  flex  justify-center " aria-modal="true" role="dialog">
            <div class="relative  p-4  w-full max-w-2xl h-fit ">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow h-fit w-full ">
                    <!-- Modal header -->
                    <div class="flex justify-between items-center p-5 rounded-t border-b ">
                        <span class="text-xl font-semibold text-gray-900  capitalize ">
                            {% trans "update dish"%}
                        </span>
                        <button onclick='hide()'type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" >
                            <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
                        </button>
                    </div>
                    <!-- Modal body -->
                    <div class="p-6 space-y-6"   >
                        <form method="POST" action='{% url 'restaurent:update' pk %}' enctype="multipart/form-data">	
                            {%csrf_token%}
                                {%render_field form.name  class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 my-3" %}
                                {%render_field form.description class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 my-3 " %}
                                <input type="file" name="photo" accept="image/*" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" id="id_photo">
                                {%render_field form.price class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 my-3 "  %}
                                <div class="w-full flex justify-center">
                                    <input type="submit" class="w-32 text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center my-3 "value={% trans "Save"%}>
                                    </div>                             </form> 
                                               
                    </div>
                  
                </div>
            </div>
        </div><div modal-backdrop="" class="bg-gray-900 bg-opacity-50 dark:bg-opacity-80 fixed inset-0 z-40"></div>
    
