{%extends "base.html"%}
{% load i18n %}
{%load widget_tweaks%}

{%block page_name%}
{% trans "login"%}
{%endblock page_name%}

{%block content%}


<div class="mx-auto mt-24 mb-12 bg-mywhite h-97 w-81 rounded-3xl shadow-modal   ">
  <div class="m-auto h-46 w-75  flex items-center justify-center ">
    <div>
    <p class="m-0  text-center font-bold text-2xl">{% trans "Sign In"%}</p>
    <p class="text-center text-gray-400">{% trans "new to the website?"%} <a href="{%url 'users:signup'%}" class="text-blue-500">Sign up</a></p>
    </div>
  </div>
  <hr class=" mx-auto mb-4 mt-1 text-center  border-solid w-75">

  <div class="font-medium block w-75 my-2.5 mx-auto  ">

    <form method="post"  >
        {%csrf_token%}
        
    <label for="id_email" class="lg:pt-4 text-gray-400 text-sm font-bold leading-tight tracking-normal mb-2">{% trans "Email"%}</label>
    {%render_field form.email class="border-solid border-1  border-gray-400  focus:outline-sky-500 hover:border-sky-300 bg-mygray block  h-8 w-full pl-3 pr-3 sm:text-sm rounded-lg my-2 font-normal "%}

    <label for="id_password" class="lg:pt-4 text-gray-400 text-sm font-bold leading-tight tracking-normal mb-2">{% trans "Password"%}</label>
    {%render_field form.password class="border-solid border-1  border-gray-400 focus:outline-sky-500 hover:border-sky-300 bg-mygray block h-8 w-full pl-3 pr-3 sm:text-sm  rounded-lg my-2 font-normal "%}

    {% if form.errors %}
       {% for field in form %}
           {% for error in field.errors %} 
              <div  style="color: rgb(185 28 28) ; font-weight:500; font-size:14px;line-height:20px;">
                <span >{{error}}</span>
              </div>
           {% endfor %}
       {% endfor %}
    {% endif %}
    <div class="w-full text-center  ">
      <input type="submit" value='{% trans "login"%}' class=" text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
    </div>
    </form>
  </div>
</div>

{%endblock content%}